{% extends "layout.html" %}
{% block title %}| {{page_title}}{% endblock title %}
{% block body %}
<!--banner Section starts Here -->
<div class="banner spacetop">
	<div class="about-banner-image parallax">

	</div>

	<div class="banner-text">
		<div class="container">
			<div class="row">
				<div class="col-xs-12">
					<a href="#" class="shipping">ground shipping</a>
					<h1>about us</h1>
				</div>
			</div>
		</div>
	</div>
</div>
<!--banner Section ends Here -->
<!--Section area starts Here -->
<section id="section">
	<!--Section box starts Here -->
	<div class="section">
		<div class="amazing-features ">
			<div class="container">
				<div class="row">
					<div class="col-xs-12 col-sm-4">
						<img src="/static/img/logo.png" alt="" />
					</div>
					<div class="col-xs-12 col-sm-8">
						<div class="amazing-text">
							<div class="heading">
								<span>amazing features</span>
								<h3>about us</h3>
							</div>
							<p>
								Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
							</p>
							<p>
								It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the.
							</p>
							<a href="{{url_for('.contact_us')}}" class="button contact-us">contact us</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="features ">
			<div class="container">
				<div class="row">
					<div class="col-xs-12">
						<div class="features-text">
							<div class="heading">
								<span>AMAZING FEATURES</span>
								<h3>QUICKES DELIVERY</h3>
							</div>

							<p>
								Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras ut nisi et diam luctus efficitur quis porta nisl. Proin vel cursus turpis. Morbi vitae rhoncus elit, in varius ex. Vestib
								ulum et tristique quam. Aenean ut massa ipsum. Phasellus venenatis neque vehicula leo hendrerit cursus.
							</p>
						</div>
					</div>
					<div class="col-xs-12 col-sm-6">
						<div class="features-tab bottom-border">

							<i class="fa fa-ship"></i>
							<div class="tab-text">
								<h5>QUICKEST CARGO</h5>
								<p>
									Lorem ipsum dolor sit amet, consctetur adipiscing elit. Aenean in
									ante magna. Quisque will be appear here.
								</p>
							</div>
						</div>
						<div class="features-tab bottom-border">
							<i class="fa fa-train"></i>
							<div class="tab-text">
								<h5>GROUND SHIPPING</h5>
								<p>
									Lorem ipsum dolor sit amet, consctetur adipiscing elit. Aenean in
									ante magna. Quisque will be appear here.
								</p>
							</div>
						</div>
						<div class="features-tab">
							<i class="fa fa-truck"></i>
							<div class="tab-text">
								<h5>cargo van available</h5>
								<p>
									Lorem ipsum dolor sit amet, consctetur adipiscing elit. Aenean in
									ante magna. Quisque will be appear here.
								</p>
							</div>
						</div>
					</div>
					<div class="col-xs-12 col-sm-6">
						<div class="features-tab bottom-border">
							<i class="fa fa-plane"></i>
							<div class="tab-text">
								<h5>FAST AIR FREIGHT</h5>
								<p>
									Lorem ipsum dolor sit amet, consctetur adipiscing elit. Aenean in
									ante magna. Quisque will be appear here.
								</p>
							</div>
						</div>
						<div class="features-tab bottom-border">
							<i class="fa fa-clock-o"></i>
							<div class="tab-text">
								<h5>TIMELY DELIVERY</h5>
								<p>
									Lorem ipsum dolor sit amet, consctetur adipiscing elit. Aenean in
									ante magna. Quisque will be appear here.
								</p>
							</div>
						</div>

						<div class="features-tab">
							<i class="fa fa-globe"></i>
							<div class="tab-text">
								<h5>worldwide service</h5>
								<p>
									Lorem ipsum dolor sit amet, consctetur adipiscing elit. Aenean in
									ante magna. Quisque will be appear here.
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="query ">
			<div class="container">
				<div class="row">
					<div class="col-xs-12 col-sm-10">
						<h5>DO YOU STILL HAVE A QUESTION REGARING OUR SERVICES?</h5>
						<p>
							Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc consequat elementum tempor. Duis porta lectus ut dui consequat.
						</p>
					</div>
					<div class="col-xs-12 col-sm-2">
						<a href="{{url_for('.contact_us')}}" class="button contact-us">contact us</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!--Section box ends Here -->
</section>
<!--Section area ends Here -->
{% endblock %}