{% extends "layout.html" %}
{% block title %}| {{page_title}}{% endblock title %}
{% block body %}
  <!--banner Section starts Here -->
  <div class="banner service-banner spacetop">
    <div class="banner-image-plane parallax"> </div>
<!--     <div class="contact-banner-image parallax"> </div>
    <div class="contact-banner-image2 parallax"> </div> -->
    <div class="banner-text">
      <div class="container">
        <div class="row">
          <div class="col-xs-12"> <a href="#" class="shipping">ground shipping</a>
            <h1>contact us</h1>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--banner Section ends Here --> 
  <!--Section area starts Here -->
  <section id="section"> 
    <!--Section box starts Here -->
    <div class="section">
      <div class="contact-form">
        <div class="container">
          <div class="row">
            <div class="col-xs-12 col-sm-6">
              <div class="heading ">
                <h3>contact us</h3>
              </div>
              <div class="contact-form-box " ng-controller="FormController">
                <form ng-submit="submitForm()" name="contactForm" method="post"  novalidate id="contact">
                  <div ng-class="{'successMessage' : successsubmission}" ng-bind="successsubmissionMessage" id="success"></div>
                  <div class="row">
                    <input id="name" class="contact-name" type="text" placeholder="Name*" ng-model="formData.name" ng-class="{'error' : errorName}"/>
                    <input id="email" class="contact-mail" type="text" placeholder="Email*" ng-model="formData.email" ng-class="{'error' : errorEmail}"/>
                    <input id="sub" class="contact-subject" type="text" placeholder="Subject*" ng-class="{'error' : errorSubject}" ng-model="formData.subject"/>
                    <textarea placeholder="Comment*" id="message" ng-model="formData.message" ng-class="{'error' : errorTextarea}"></textarea>
                    <!--<input id="submit" class="comment-submit qoute-sub" type="button"  value="submit">-->
                    <button type="submit" class="comment-submit qoute-sub" ng-disabled="submitButtonDisabled">Submit</button>
                  </div>
                  <div ng-class="{'submissionMessage' : submission}" ng-bind="submissionMessage" style="float:right; color: red;"></div>
                </form>
              </div>
            </div>
            <div class="col-xs-12 col-sm-6">
              <div class="map-box " id="map-box"> </div>
            </div>
          </div>
        </div>
      </div>
      <div class="location parallax">
        <div class="">
          <div class="container">
            <div class="row">
              <div class="col-xs-12">
                <div class="heading"> <span>more</span>
                  <h3>locations</h3>
                </div>
              </div>
            </div>
          </div>
          <div class="container">
            <div class="row">
              <div id="location-slides" class="location-slider">
                <div class="location-slide-tab">
                  <h6>United Kingdom</h6>
                  <address>
                  158, ADLER Street, London E11EE, <br/>
                  United Kingdom.
                  </address>
                  <span class="call">call : <a href="tel:+2348130107796">+234 (0) 813 010 7796</a></span> <span class="location-email">email : <a href="mailto:info@xlogistix.co.uk"> info@xlogistix.co.uk</a></span> </div>
                <div class="location-slide-tab">
                  <h6>Nigeria</h6>
                  <address>
                  Purple Street, Bungalow, Jakande Estate <br />
                  Oke-Afa Isolo, Lagos, Nigeria.
                  </address>
                  <span class="call">call : <a href="tel:+2348130107796">+234 (0) 813 010 7796</a></span> <span class="location-email">email : <a href="mailto:info@xlogistix.co.uk"> info@xlogistix.co.uk</a></span> </div>
                <div class="location-slide-tab">
                  <h6>United Kingdom</h6>
                  <address>
                  158, ADLER Street, London E11EE, <br/>
                  United Kingdom.
                  </address>
                  <span class="call">call : <a href="tel:+2348130107796">+234 (0) 813 010 7796</a></span> <span class="location-email">email : <a href="mailto:info@xlogistix.co.uk"> info@xlogistix.co.uk</a></span> </div>
                <div class="location-slide-tab">
                  <h6>Nigeria</h6>
                  <address>
                  Purple Street, Bungalow, Jakande Estate <br />
                  Oke-Afa Isolo, Lagos, Nigeria.
                  </address>
                  <span class="call">call : <a href="tel:+2348130107796">+234 (0) 813 010 7796</a></span> <span class="location-email">email : <a href="mailto:info@xlogistix.co.uk"> info@xlogistix.co.uk</a></span> </div>
                <div class="location-slide-tab">
                  <h6>United Kingdom</h6>
                  <address>
                  158, ADLER Street, London E11EE, <br/>
                  United Kingdom.
                  </address>
                  <span class="call">call : <a href="tel:+2348130107796">+234 (0) 813 010 7796</a></span> <span class="location-email">email : <a href="mailto:info@xlogistix.co.uk"> info@xlogistix.co.uk</a></span> </div>
                <div class="location-slide-tab">
                  <h6>Nigeria</h6>
                  <address>
                  Purple Street, Bungalow, Jakande Estate <br />
                  Oke-Afa Isolo, Lagos, Nigeria.
                  </address>
                  <span class="call">call : <a href="tel:+2348130107796">+234 (0) 813 010 7796</a></span> <span class="location-email">email : <a href="mailto:info@xlogistix.co.uk"> info@xlogistix.co.uk</a></span> </div>
                <div class="location-slide-tab">
                  <h6>United Kingdom</h6>
                  <address>
                  158, ADLER Street, London E11EE, <br/>
                  United Kingdom.
                  </address>
                  <span class="call">call : <a href="tel:+2348130107796">+234 (0) 813 010 7796</a></span> <span class="location-email">email : <a href="mailto:info@xlogistix.co.uk"> info@xlogistix.co.uk</a></span> </div>
                <div class="location-slide-tab">
                  <h6>Nigeria</h6>
                  <address>
                  Purple Street, Bungalow, Jakande Estate <br />
                  Oke-Afa Isolo, Lagos, Nigeria.
                  </address>
                  <span class="call">call : <a href="tel:+2348130107796">+234 (0) 813 010 7796</a></span> <span class="location-email">email : <a href="mailto:info@xlogistix.co.uk"> info@xlogistix.co.uk</a></span> </div>
                <div class="location-slide-tab">
                  <h6>United Kingdom</h6>
                  <address>
                  158, ADLER Street, London E11EE, <br/>
                  United Kingdom.
                  </address>
                  <span class="call">call : <a href="tel:+2348130107796">+234 (0) 813 010 7796</a></span> <span class="location-email">email : <a href="mailto:info@xlogistix.co.uk"> info@xlogistix.co.uk</a></span> </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="query ">
        <div class="container">
          <div class="row">
            <div class="col-xs-12 col-sm-10">
              <h5>DO YOU STILL HAVE A QUESTION REGARING OUR SERVICES?</h5>
              <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc consequat elementum tempor. Duis porta lectus ut dui consequat. </p>
            </div>
            <div class="col-xs-12 col-sm-2"> <a href="#" class="contact-us button">contact us</a> </div>
          </div>
        </div>
      </div>
    </div>
    <!--Section box ends Here --> 
  </section>
  <!--Section area ends Here -->
{% endblock %}