{% extends "layout.html" %}
{% block title %}| {{page_title}}{% endblock title %}
{% block body %}
<!--Section area starts Here -->
<section id="section" class="spacetop">
	<!--Section box starts Here -->
	<div class="section">
		<div class="error-box ">
			<div class="container">
				<div class="row">
					<div class="col-xs-12 center">
						<img src="assets/images/error-image.png" alt="" />
						<h1>{{error_title}}</h1>
						<span>{{error_info}}</span>
						<a href="/" class="button home-link">back to home page</a>
					</div>
				</div>
			</div>
		</div>
		<div class="query ">
			<div class="container">
				<div class="row">
					<div class="col-xs-12 col-sm-10">
						<h5>DO YOU STILL HAVE A QUESTION REGARING OUR SERVICES?</h5>
						<p>
							Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc consequat elementum tempor. Duis porta lectus ut dui consequat.
						</p>
					</div>
					<div class="col-xs-12 col-sm-2">
						<a href="{{url_for('.contact_us')}}" class="contact-us button">contact us</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!--Section box ends Here -->

</section>
<!--Section area ends Here -->
{% endblock body %}