{% extends "layout.html" %}
{% block title %}| {{page_title}}{% endblock title %}
{% block body %}
<!--banner Section starts Here -->
<div class="bannercontainer spacetop">
    <div class="banner">
        <ul>
            <!-- THE BOXSLIDE EFFECT EXAMPLES  WITH LINK ON THE MAIN SLIDE EXAMPLE -->

            <li data-transition="random" data-slotamount="1">
                <img src="static/img/banner-plane.jpg" alt="" />
                <div class="banner-text">
                    <div class="caption sft big_white" data-x="0" data-y="100" data-speed="center" data-start="1700" data-easing="Power4.easeInOut">
                        <a href="#" class="shipping">air shipping</a>
                    </div>
                    <div class="caption sfb big_orange clearfix"  data-x="100" data-y="350" data-speed="500" data-start="1900" data-easing="Power4.easeInOut">
                        <h2>ONE STOP SOLUTION
                        YOUR TRANSPORT
                        REQUIREMENTS</h2>
                    </div>
                    <div class="caption lfr medium_grey"  data-x="left" data-y="center" data-speed="300" data-start="2000">
                        <a href="{{url_for('.services')}}" class="services-link">our services</a>
                    </div>
                </div>
            </li>
            <li data-transition="random" data-slotamount="1">
                <img src="static/img/banner-truck.jpg" alt="" />
                <div class="banner-text">
                    <div class="caption sft big_white" data-x="0" data-y="100" data-speed="700" data-start="1700" data-easing="Power4.easeInOut">
                        <a href="#" class="shipping">ground shipping</a>
                    </div>
                    <div class="caption sfb big_orange clearfix"  data-x="100" data-y="350" data-speed="500" data-start="1900" data-easing="Power4.easeInOut">
                        <h2>ONE STOP SOLUTION
                        YOUR TRANSPORT
                        REQUIREMENTS</h2>
                    </div>
                    <div class="caption lfr medium_grey"  data-x="left" data-y="center" data-speed="300" data-start="2000">
                        <a href="{{url_for('.services')}}" class="services-link">our services</a>
                    </div>
                </div>
            </li>
            <li data-transition="random" data-slotamount="1">
                <img src="static/img/ship_sea.jpg" alt="" />
                <div class="banner-text">
                    <div class="caption sft big_white" data-x="0" data-y="100" data-speed="700" data-start="1700" data-easing="Power4.easeInOut">
                        <a href="#" class="shipping">sea shipping</a>
                    </div>
                    <div class="caption sfb big_orange clearfix"  data-x="100" data-y="350" data-speed="500" data-start="1900" data-easing="Power4.easeInOut">
                        <h2>ONE STOP SOLUTION
                        YOUR TRANSPORT
                        REQUIREMENTS</h2>
                    </div>
                    <div class="caption lfr medium_grey"  data-x="left" data-y="center" data-speed="300" data-start="2000">
                        <a href="{{url_for('.services')}}" class="services-link">our services</a>
                    </div>
                </div>
            </li>
            <li data-transition="random" data-slotamount="1">
                <img src="static/img/train.jpg" alt="" />
                <div class="banner-text">
                    <div class="caption sft big_white" data-x="0" data-y="100" data-speed="700" data-start="1700" data-easing="Power4.easeInOut">
                        <a href="#" class="shipping">rail shipping</a>
                    </div>
                    <div class="caption sfb big_orange clearfix"  data-x="100" data-y="350" data-speed="500" data-start="1900" data-easing="Power4.easeInOut">
                        <h2>ONE STOP SOLUTION
                        YOUR TRANSPORT
                        REQUIREMENTS</h2>
                    </div>
                    <div class="caption lfr medium_grey"  data-x="left" data-y="center" data-speed="300" data-start="2000">
                        <a href="{{url_for('.services')}}" class="services-link">our services</a>
                    </div>
                </div>
            </li>

        </ul>
    </div>
</div>
<!--banner Section ends Here -->
<!--Section area starts Here -->
<section id="section">
    <!--Section box starts Here -->
    <div class="section">
        <div class="services">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="heading">
                            <span>LOGISTIC SERVICES</span>
                            <h2>OUR SERVICES</h2>
                        </div>
                    </div>
                </div>
                <div id="services-slides" class="services-slider">
                    <div class="slides-tab zoom">
                        <figure>
                            <a href="#"><img src="static/img/goods-train.jpg" alt="" /></a>
                        </figure>
                        <div class="slides-text">
                            <h4><a href="#">GROUND SHIPPING</a></h4>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adip
                                iscing elit. Aenean in ante magna. Quisque
                                sodales, exid fermentum tempor.
                            </p>
                            <a href="{{url_for('.services')}}" class="read-more">read more <span>></span></a>
                        </div>
                    </div>
                    <div class="slides-tab zoom">
                        <figure>
                            <a href="#"><img src="static/img/plane.jpg" alt="" /></a>
                        </figure>
                        <div class="slides-text">
                            <h4><a href="#">AIR FREIGHT</a></h4>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adip
                                iscing elit. Aenean in ante magna. Quisque
                                sodales, exid fermentum tempor.
                            </p>
                            <a href="{{url_for('.services')}}" class="read-more">read more <span>></span></a>
                        </div>
                    </div>
                    <div class="slides-tab zoom">
                        <figure>
                            <a href="#"><img src="static/img/yard.jpg" alt="" /></a>
                        </figure>
                        <div class="slides-text">
                            <h4><a href="#">SEA DELIVERY</a></h4>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adip
                                iscing elit. Aenean in ante magna. Quisque
                                sodales, exid fermentum tempor.
                            </p>
                            <a href="{{url_for('.services')}}" class="read-more">read more <span>></span></a>
                        </div>
                    </div>
                    <div class="slides-tab zoom">
                        <figure>
                            <a href="#"><img src="static/img/goods-train.jpg" alt="" /></a>
                        </figure>
                        <div class="slides-text">
                            <h4><a href="#">GROUND SHIPPING</a></h4>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adip
                                iscing elit. Aenean in ante magna. Quisque
                                sodales, exid fermentum tempor.
                            </p>
                            <a href="{{url_for('.services')}}" class="read-more">read more <span>></span></a>
                        </div>
                    </div>
                    <div class="slides-tab zoom">
                        <figure>
                            <a href="#"><img src="static/img/plane.jpg" alt="" /></a>
                        </figure>
                        <div class="slides-text">
                            <h4><a href="#">AIR FREIGHT</a></h4>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adip
                                iscing elit. Aenean in ante magna. Quisque
                                sodales, exid fermentum tempor.
                            </p>
                            <a href="{{url_for('.services')}}" class="read-more">read more <span>></span></a>
                        </div>
                    </div>
                    <div class="slides-tab zoom">
                        <figure>
                            <a href="#"><img src="static/img/yard.jpg" alt="" /></a>
                        </figure>
                        <div class="slides-text">
                            <h4><a href="#">SEA DELIVERY</a></h4>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adip
                                iscing elit. Aenean in ante magna. Quisque
                                sodales, exid fermentum tempor.
                            </p>
                            <a href="{{url_for('.services')}}" class="read-more">read more <span>></span></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="features">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-sm-4">
                        <div class="features-text">
                            <div class="heading">
                                <span>AMAZING FEATURES</span>
                                <h3>WE OFFER QUICK &
                                POWERFUL SOLUTION
                                FOR TRANSPORT</h3>
                            </div>

                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing
                                elit. Aenean in ante magna. Quisque sodales, exid
                                fermentum tempor.
                            </p>
                            <a href="{{url_for('.services')}}" class="services-link button">our services</a>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-8 custom-padding">
                        <div class="row">
                            <div class="col-xs-12 col-sm-6">
                                <div class="features-tab">

                                    <i class="fa fa-ship"></i>
                                    <div class="tab-text">
                                        <h5>QUICKEST CARGO</h5>
                                        <p>
                                            Lorem ipsum dolor sit amet, cons
                                            ctetur adipiscing elit. Aenean in
                                            ante magna. Quisque
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-6">
                                <div class="features-tab">
                                    <i class="fa fa-plane"></i>
                                    <div class="tab-text">
                                        <h5>FAST AIR FREIGHT</h5>
                                        <p>
                                            Lorem ipsum dolor sit amet, cons
                                            ctetur adipiscing elit. Aenean in
                                            ante magna. Quisque
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-6">
                                <div class="features-tab">
                                    <i class="fa fa-train"></i>
                                    <div class="tab-text">
                                        <h5>GROUND SHIPPING</h5>
                                        <p>
                                            Lorem ipsum dolor sit amet, cons
                                            ctetur adipiscing elit. Aenean in
                                            ante magna. Quisque
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-6">
                                <div class="features-tab">
                                    <i class="fa fa-clock-o"></i>
                                    <div class="tab-text">
                                        <h5>TIMELY DELIVERY</h5>
                                        <p>
                                            Lorem ipsum dolor sit amet, cons
                                            ctetur adipiscing elit. Aenean in
                                            ante magna. Quisque
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="about">
            <div class="figure parallax">
                
            </div>
            <div class="transport-king">
                <div class="about-us">
                    <div class="description">
                        <div class="heading">
                            <h3>ABOUT XLogistix</h3>
                        </div>

                        <p>
                            Xlogistix is an international delivery company that delivers all kind of goods 
                            across the whole world. We make use of the fastest and safest means of 
                            delivery, by Air, by Sea and by Land. 
                        </p>
                    </div>
                </div>
                <div class="testimonial-section">
                    <blockquote class="custom-blockquote">
                        <div class="spanish">
                            <p>
                                Xlogistix is one of the best delivery company in the world, and 
                                internationally accepted. Xlogistix deliver to your door-step, with top 
                                sophisticated GPS for delivery tracking.
                            </p>
                        </div>
                        <footer class="mission">
                            <h5>OUR MISSION STATEMENT</h5>
                            <span>With Xlogistix your luggage is as good as delivered</span>
                        </footer>
                    </blockquote>
                </div>

            </div>
        </div>
        <div class="news">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 center">
                        <div class="heading">
                            <h2>LATEST NEWS</h2>
                        </div>

                        <div class="design-line">
                            <span class="design"></span>
                        </div>
                    </div>
                    <div class="news-section">
                        <div class="col-xs-12 col-sm-4">
                            <div class="slides-tab zoom">
                                <figure>
                                    <a href="#"><img src="static/img/courier-box.jpg" alt="" /></a>
                                    <div class="date">
                                        <small>july</small><span>05</span>
                                    </div>
                                </figure>
                                <div class="slides-text">
                                    <h5><a href="#">QUALITY CARGO SERVICES AT
                                    AFFORDABLE PRICE</a></h5>
                                    <p>
                                        Lorem ipsum dolor sit amet, consctetur adip
                                        iscing elit. Aenean in ante magna.
                                    </p>
                                </div>
                            </div>

                        </div>
                        <div class="col-xs-12 col-sm-4">
                            <div class="slides-tab zoom">
                                <figure>
                                    <a href="#"><img src="static/img/train-yard.jpg" alt="" /></a>
                                    <div class="date">
                                        <small>july</small><span>05</span>
                                    </div>
                                </figure>
                                <div class="slides-text">
                                    <h5><a href="#">WE HAVE STARTED NEW SECTION
                                    IN GROUND SHIPPING</a></h5>
                                    <p>
                                        Lorem ipsum dolor sit amet, consctetur adip
                                        iscing elit. Aenean in ante magna.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-4">
                            <div class="slides-tab zoom">
                                <figure>
                                    <a href="#"><img src="static/img/goods-ship.jpg" alt="" /></a>
                                    <div class="date">
                                        <small>july</small><span>05</span>
                                    </div>
                                </figure>
                                <div class="slides-text">
                                    <h5><a href="#">CARGO SHIPPING AVAILABLE AT
                                    GOOD DISCOUNTS</a></h5>
                                    <p>
                                        Lorem ipsum dolor sit amet, consctetur adip
                                        iscing elit. Aenean in ante magna.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="spacer20"></div>
        <div class="query">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-sm-10">
                        <h5>DO YOU STILL HAVE A QUESTION REGARING OUR SERVICES?</h5>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc consequat elementum tempor. Duis porta lectus ut dui consequat.
                        </p>
                    </div>
                    <div class="col-xs-12 col-sm-2">
                        <a href="{{url_for('.contact_us')}}" class="contact-us button">contact us</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Section box ends Here -->
</section>
<!--Section area ends Here -->
{% endblock %}