<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        <title>XLogistix {% block title %}{% endblock title %}</title>
        <link rel="shortcut icon" type="image/x-icon" href="/static/img/favicon.png">

        <!-- Google Font -->
        <link href='http://fonts.googleapis.com/css?family=Raleway:400,500,600,700,800,900' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Karla:400,700italic,700,400italic' rel='stylesheet' type='text/css'>
        <!-- Font Awesome -->
        <link rel="stylesheet" href="{{ url_for('static', filename='css/font-awesome.min.css') }}" />

        <!-- Bootstrap -->
        <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}" />

        <!-- REVOLUTION BANNER CSS SETTINGS -->
        <link rel="stylesheet" href="{{ url_for('static', filename='vendor/rs-plugin/css/settings.css') }}" media="screen" />
        <link rel="stylesheet" href="{{ url_for('static', filename='css/dropdown.css') }}" />

        <link rel="stylesheet" href="{{ url_for('static', filename='css/owl.carousel.css') }}" />
        <link rel="stylesheet" href="{{ url_for('static', filename='css/global.css') }}" />
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" />
        <link rel="stylesheet" href="{{ url_for('static', filename='css/responsive.css') }}" />
        <link rel="stylesheet" href="{{ url_for('static', filename='css/skin.less') }}" />

    </head>
    <body {% if ang_module %} ng-app="{{ang_module}}" {% endif %}>
        <!-- Loader Starts here -->
        <div class="loader-block">
            <div class="loader">
                Loading...
            </div>
        </div>
        <!-- Loader Ends here -->
        <!--Wrapper Section Start Here -->
        <div id="wrapper" class="{{wrapper_class}}">
            <!--header Section Start Here -->
            <header id="header" class="header intelligent fix simple fixed down">
                <!-- primary header Start Here -->
                <div class="primary-header">
                    <div class="container">
                        <div class="row">
                            <div class="col-xs-12 col-sm-6">
                                <div class="mail">
                                    <img src="/static/img/icon-mail.png" alt="" />
                                    <span>Email us at : <a class="email-us" href="mailto:info@xlogistix.co.uk">info@xlogistix.co.uk</a></span>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-6">
                                <div class="social-wrap clearfix">
                                    <a href="{{url_for('.request_quote')}}" class="request">request a quote</a>
                                    <ul class="social">
                                        <li>
                                            <a href="#"> <i class="fa fa-facebook"></i> </a>
                                        </li>
                                        <li>
                                            <a href="#"> <i class="fa fa-twitter"></i> </a>
                                        </li>
                                        <li>
                                            <a href="#"> <i class="fa fa-google-plus"></i> </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- primary header Ends Here -->
                <!-- main header Starts Here -->
                <div class="main-header">
                    <div class="container">
                        <div class="row">
                            <div class="col-xs-12 hidden-xs">

                                <div class="call-us">
                                    <ul>
                                        <li>
                                            <img src="/static/img/iphone.png" alt="" />
                                            <span class="transport">CALL US NOW FOR <span></span> YOUR DELIVERY</span>
                                        </li>
                                        <li>
                                            <a href="tel:+447087663478">+44 708 766 3478</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-3">
                                <a href="{{url_for('.index')}}" class="logo"> <img src="/static/img/logo.png" alt="Logo" /> </a>

                            </div>
                            <div class="col-xs-12 col-sm-9 custom-nav">
                                <nav>
                                    <div id='cssmenu'>
                                        <ul class="navigation">
                                            <li {% if request.path == "/" %}class='active'{%endif%}>
                                                <a href="{{url_for('.index')}}">Home</a>
                                            </li>
                                            <li {% if request.path == "/about-us/" %}class='active'{%endif%}>
                                                <a href="{{url_for('.about_us')}}">about us</a>
                                            </li>
                                            <li {% if request.path == "/services/" %}class='active'{%endif%}>
                                                <a href="{{url_for('.services')}}">services</a>
                                            </li>
                                            <li {% if request.path == "/locations/" %}class='active'{%endif%}>
                                                <a href="{{url_for('.locations')}}">locations</a>
                                            </li>
                                            <li {% if request.path == "/contact-us/" %}class='active'{%endif%}>
                                                <a href="{{url_for('.contact_us')}}">contact</a>
                                            </li>
                                        </ul>
                                    </div>
                                </nav>

                                <div class="nav-icon">
                                    <span><i class="fa fa-bars"></i></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- main header Ends Here -->
            </header>
            <!--header Section Ends Here -->
            {% block body %}
            {% endblock %}
            <!--Footer area starts Here -->
            <footer id="footer">
                <!--Footer box starts Here -->
                <div class="footer clearfix">
                    <div class="container">
                        <div class="row">
                            <div class="col-xs-12 col-sm-4">
                                <div class="quick-links">
                                    <h5>QUICK LINKS</h5>
                                </div>
                                <div class="quick-list">
                                    <ul>
                                        <li>
                                            <a href="{{url_for('.services')}}">ground shipping</a>
                                        </li>
                                        <li>
                                            <a href="{{url_for('.services')}}">air freight</a>
                                        </li>
                                        <li>
                                            <a href="{{url_for('.services')}}">sea freight</a>
                                        </li>
                                        <li>
                                            <a href="{{url_for('.services')}}">storage &amp; packaging</a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="quick-list">
                                    <ul>
                                        <li>
                                            <a href="{{url_for('.services')}}">rail shipping</a>
                                        </li>
                                        <li>
                                            <a href="{{url_for('.services')}}">logistic solutions</a>
                                        </li>
                                        <li>
                                            <a href="{{url_for('.services')}}">cargo shipping</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-4">
                                <div class="our-address">
                                    <h5>contact us</h5>
                                    <div class="address">
                                        <h6>XLogistix</h6>
                                        <address>
                                            Contact Address: 158, ADLER Street, London E11EE, United Kingdom.
                                        </address>
                                        <div class="phone">
                                            <span>tel : <a href="tel:+447087663478">+44 708 766 3478</a></span>
                                            <span>email : <a href="mailto:info@xlogistix.co.uk">info@xlogistix.co.uk</a></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-4">
                                <div class="quick-links">
                                </div>
                                <div class="quick-list">
                                    <ul>
                                        <li>
                                            <a href="#">terms of use</a>
                                        </li>
                                        <li>
                                            <a href="#">legal desclaimer</a>
                                        </li>
                                        <li>
                                            <a href="#">privacy policy</a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="quick-list">
                                    <ul>
                                        <li>
                                            <a href="{{url_for('.contact_us')}}">help & support</a>
                                        </li>
                                        <li>
                                            <a href="#">sitemap</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="row custom-row">
                            <div class="col-xs-12 col-sm-5">
                                <div class="copyright">
                                    <span>Copyright {{current_year}}. All Rights Reserved by <a href="#">XLogistix</a></span><br>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-7 no-wrap-mobile">
                                <div class="dev_by">
                                    <span>Designed and Developed by <a href="http://spadixsolution.com/" target="_blank">Spadix Solution</a></span>
                                </div>
                            </div>
                            <div class="spacer10"></div>
                        </div>
                    </div>
                </div>
                <!--Footer box ends Here -->
            </footer>
            <!--Footer area ends Here -->
        </div>
        <!--Wrapper Section Ends Here -->


        <script type="text/javascript" src="{{ url_for('static', filename='js/jquery-1.11.3.min.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/less.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/angular.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/app.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/controller.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/owl.carousel.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/jquery.selectbox-0.2.min.js') }}"></script>

        <!--Parrallax -->
        <script type="text/javascript" src="{{ url_for('static', filename='js/parallax.js') }}"></script>

        <script src="http://maps.google.com/maps/api/js?sensor=true"></script> 
        <script type="text/javascript" src="{{ url_for('static', filename='js/gmap.js') }}"></script>

        <!-- jQuery REVOLUTION Slider  -->
        <script type="text/javascript" src="{{ url_for('static', filename='js/jquery.themepunch.tools.min.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/jquery.themepunch.revolution.min.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/revolution.js') }}"></script>

        <script type="text/javascript" src="{{ url_for('static', filename='js/vailidation.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/script.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/site.js') }}"></script>

    </body>
</html>