{% extends "layout.html" %}
{% block title %}| {{page_title}}{% endblock title %}
{% block body %}
<!--banner Section starts Here -->
<div class="banner spacetop">
  <div class="banner-image-plane parallax">

  </div>
  <div class="banner-text">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <a href="#" class="shipping">ground shipping</a>
          <h1>locations</h1>
        </div>
      </div>
    </div>
  </div>
</div>
<!--banner Section ends Here -->
<!--Section area starts Here -->
<section id="section">
  <!--Section box starts Here -->
  <div class="section shop-section">
    <div class="our-location ">
      <div class="container">
        <div class="row">
          <div class="col-xs-12">
            <div class="heading">
              <span>our</span>
              <h3>locations</h3>
            </div>
            <div class="our-office">
              <div class="search-office">
                <div class="office-search-box">
                  <input id="search" type="text" placeholder="Search Country" />
                  <input type="submit" value="" />
                </div>
                <div id="countries" class="countries">
                  <div class="countries-slides">
                    <div class="countries-wrap class-A">
                      <span class="alphabet">n</span>
                      <ul class="country-names">
                        <li>
                          <a href="#">nigeria</a>
                        </li>
                      </ul>
                    </div>
                    <div class="countries-wrap class-A">
                      <span class="alphabet">u</span>
                      <ul class="country-names">
                        <li>
                          <a href="#">u.k</a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
              <div>
                <div id="dvMap" class="mapping"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="query ">
      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-sm-10">
            <h5>DO YOU STILL HAVE A QUESTION REGARING OUR SERVICES?</h5>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc consequat elementum tempor. Duis porta lectus ut dui consequat.
            </p>
          </div>
          <div class="col-xs-12 col-sm-2">
            <a href="{{url_for('.contact_us')}}" class="button contact-us">contact us</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--Section box ends Here -->
</section>
<!--Section area ends Here -->
{% endblock %}