{% extends "layout.html" %}
{% block title %}| {{page_title}}{% endblock title %}
{% block body %}
<!--banner Section starts Here -->
<div class="banner service-banner">
	<div class="banner-image-plane parallax">

	</div>
	<div class="banner-text">
		<div class="container">
			<div class="row">
				<div class="col-xs-12">
					<a href="#" class="shipping">ground shipping</a>
					<h1>request a quote</h1>
				</div>
			</div>
		</div>
	</div>
</div>
<!--banner Section ends Here -->
<!--Section area starts Here -->
<section id="section">
	<!--Section box starts Here -->
	<div class="section">
		<div class="quote-form">
			<div class="container">
				<div class="row">
					<div class="col-xs-12">
		              <div class="heading ">
		                <h3>quote form</h3>
		              </div>
		              <div class="quote-form-box "  ng-controller="RequestController">
		                <form ng-submit="submitForm()" name="requestForm" method="post" novalidate>
						 <div class="success" ng-class="{'submissionMessage' : submission}" ng-bind="successsubmissionMessage" id="success"></div>
		                  <div class="row">
		                    <div class="col-xs-12 col-sm-6 right-space">
		                      <input id="name" class="quote-name" name="name" type="text" placeholder="Name*"  ng-model="formData.name" ng-class="{'error' : errorName}"/>
		                    </div>
		                    <div class="col-xs-12 col-sm-6 left-space">
		                      <input id="email" class="quote-mail" type="text" placeholder="Email*" name="email" ng-model="formData.email" ng-pattern = "/^[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+\.[a-zA-Z0-9-.]+$/"  ng-class="{'error' : errorEmail}"/>
		                    </div>
		                    <div class="col-xs-12 col-sm-6 right-space">
		                      <input id="city" class="quote-city" type="text" placeholder="City*"  name="city" ng-model="formData.city"  ng-class="{'error' : errorCity}"/>
		                    </div>
		                    <div class="col-xs-12 col-sm-6 left-space">
		                      <input id="service" class="quote-service" type="text" placeholder="Service*"  name="service" ng-model="formData.service"  ng-class="{'error' : errorService}"/>
		                    </div>
		                    <div class="col-xs-12">
		                      <input id="subject" class="quote-subject" type="text" placeholder="Subject*"  name="subject" ng-model="formData.subject"  ng-class="{'error' : errorSubject}"/>
		                    </div>
		                    <div class="col-xs-12">
		                      <textarea placeholder="Comment*" name="message" ng-model="formData.message"  ng-class="{'error' : errorTextarea}"></textarea>
		                    </div>
		                    <div class="col-xs-12">
		                      <!--<input id="submit" class="comment-submit qoute-sub" type="submit"  value="submit">-->
		                      <button type="submit" class="comment-submit qoute-sub" ng-disabled="submitButtonDisabled">Submit </button>
		                    </div>				
		                  </div>
		                   <div class="error error-msg" ng-class="{'submissionMessage' : submission}" ng-bind="submissionMessage" ng-disabled = "requestForm.$invalid"></div>
		                </form>
		              </div>
		            </div>
				</div>
			</div>
		</div>
		<div class="office-box">

			<div class="container">
				<div class="row">
					<div class="col-xs-12 col-sm-6 custom-zero-padding">
						<div class="head-office ">
							<div class="clearfix">
								<span><i class="icon-envelope"></i></span>
								<div class="heading">
									<span>contact</span>
									<h3>head office</h3>
								</div>
								<div class="address-bar">
									<span class="small-heading">address</span>
									<address>
										158, ADLER Street, <br/>
										London E11EE, <br/>
					                    United Kingdom.
									</address>
									<div class="phone-bar">
										<span class="small-heading">phone</span>
										<a href="tel:+2348130107796">+234 (0) 813 010 7796</a>
									</div>

									<div class="phone-bar">
										<span class="small-heading">email</span>
										<a href="mailto:info@xlogistix.co.uk"> info@xlogistix.co.uk</a>
									</div>
								</div>
								<div class="address-bar custom-footer-padding">
									<span class="small-heading">address</span>
									<address>
										Purple Street, Bungalow,
										<br />
										Jakande Estate, Oke-Afa Isolo,
										<br />
										Lagos, Nigeria.
									</address>
									<div class="phone-bar">
										<span class="small-heading">phone</span>
										<a href="tel:+2348130107796">+234 (0) 813 010 7796</a>
									</div>

									<div class="phone-bar">
										<span class="small-heading">email</span>
										<a href="mailto:info@xlogistix.co.uk"> info@xlogistix.co.uk</a>
									</div>
								</div>
							</div>

						</div>

					</div>
					<div class="col-xs-12 col-sm-6 custom-zero-padding">
						<div class="timing ">
							<span><i class="icon-alarm"></i></span>
							<div class="heading ">
								<span>our</span>
								<h3>timing</h3>
							</div>
							<ul>
								<li>
									monday <span>: <strong>10.00 am - 6.00 pm</strong></span>
								</li>
								<li>
									tuesday <span>: <strong>10.00 am - 6.00 pm</strong></span>
								</li>
								<li>
									wednesday <span>: <strong>10.00 am - 6.00 pm</strong></span>
								</li>
								<li>
									thursday <span>: <strong>10.00 am - 6.00 pm</strong></span>
								</li>
								<li>
									friday <span>: <strong>10.00 am - 6.00 pm</strong></span>
								</li>
								<li>
									saturday <span>: <strong>10.00 am - 6.00 pm</strong></span>
								</li>
								<li>
									sunday <span class="closed">: <strong>closed</strong></span>
								</li>
							</ul>
						</div>

					</div>
				</div>
			</div>
		</div>
		<div class="query ">
			<div class="container">
				<div class="row">
					<div class="col-xs-12 col-sm-10">
						<h5>DO YOU STILL HAVE A QUESTION REGARING OUR SERVICES?</h5>
						<p>
							Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc consequat elementum tempor. Duis porta lectus ut dui consequat.
						</p>
					</div>
					<div class="col-xs-12 col-sm-2">
						<a href="{{url_for('.contact_us')}}" class="button contact-us">contact us</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!--Section box ends Here -->
</section>
<!--Section area ends Here -->
{% endblock body %}